extend components/plantilla.pug
block contenidos
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2= titulos[0] 
				p 
					|Lorem ipsum dolor sit amet, 
					|consectetur adipisicing elit,
					|sed do eiusmod tempor incididunt 
					|ut labore et dolore magna aliqua.
					span Lorem ipsum dolor sit amet, consectetur adipisicing elit
				a.boton leer más
		//- ul
		//- 	each titulo in titulos 
		//- 		li= titulo
		main.contenido
			+caja('imagen.png', titulos[1], lorem)
			+caja('imagen.png', titulos[2], lorem)
			+caja('imagen.png', titulos[3], lorem)
			
